{{ help }}

    <img class="card-img-top" src="{{ bo.field_image.raw_value.optimized_url }}" alt="{{ bo.field_image.raw_value.alt }}" style="width:100%">

    <div class="card-body">
        <h4 class="card-title">{{ bo.title.raw_value.value }}</h4>
        {{ collection }}
    </div>



