{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 * - bo.collection: A list of collection items
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

<table>
    <tr>
    {% for key, item in bo.field_header.items %}
        <th>{{ item.raw.value }}</th>
    {% endfor %}
    </tr>
    {% for key, item_row in bo.collection %}
        <tr>
            {% for key, item_col in item_row.field_value %}
                <td class="bo-entity  bo-entity-{{ display_id }}">
                    {{ item_col.raw.value }}
                    {% if key == item_row.field_value|length-1 %}
                        {{ item_row.operations }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{{ attach_library('bo/bo_bundle_table') }}
