{{ help }}

{% if bo.field_show_in_columns.raw.value == 1 %}
  <div class="bo-columns bo-columns-{{ bo.field_column_count.raw.value }}">
    {{ bo.field_text.raw.value }}
  </div>
{% else %}
  {{ bo.field_text.raw.value }}
{% endif %}

{{ attach_library('bo/bundle_text') }}
